<h2>Patient card</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <a [routerLink]="['']" title="Return to patients list">Return to patients list</a>
    </li>
    </ol>
</nav>

<mat-card class="mt-4" *ngIf="patient">
    <mat-card-header>
        <mat-card-title>{{ patient.firstName }} {{ patient.lastName }}</mat-card-title>
        <mat-card-subtitle>Risk status: RISK</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>Details:</h3>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Birthdate</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{ patient.birthdate }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Gender</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{ patient.gender }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Phone number</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{ patient.phoneNumber }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-9">
                <p class="text-muted mb-0">{{ patient.address }}</p>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <h3>Notes:</h3>
        <ol>
            <li *ngFor="let note of notes" class="mb-3">
                <p>{{ note.note }}</p>
                <p class="small-text">
                    <mat-icon>event</mat-icon> {{ note.date }}
                </p>
            </li>
        </ol>
        <button mat-raised-button
            color="primary"
            (click)="addNote()"
            title="Add new">
          Add new note
        </button>
    </mat-card-footer>
</mat-card>