.form-group {
    padding: 20px 10px;
    background: #f1f1f1;
    border-radius: 5px;
    margin: 5px 0;
    align-items: last baseline;
}
.form-control:disabled,
.form-control:focus {
    background: none !important;
}

.right-col {
    flex-direction: column;
    justify-content: space-between;
    .action-buttons button {
        display: inline-block;
        margin-right: 20px;
    }
}