<h1>All patients</h1>

<table class="table table-striped" *ngIf="patients.length > 0">
    <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">RISK</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients" [routerLink]="['/patient', patient.firstName + '-' + patient.lastName]">
        <td>{{ patient.firstName }}</td>
        <td>{{ patient.lastName }}</td>
        <td>RISK</td>
      </tr>
    </tbody>
</table>
<button mat-raised-button
        color="primary"
        click="openForm()">
    Add new patient
</button>