<h2>All patients</h2>

<table class="table table-striped" *ngIf="patients.length > 0">
  <caption hidden>All patients list</caption>
  <thead>
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col" style="width: 10%">RISK</th>
      <th scope="col" style="width: 20%"></th> <!-- Actions -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{ patient.firstName }}</td>
      <td>{{ patient.lastName }}</td>
      <td>RISK</td>
      <td>
        <button mat-button
            (click)="detailPatient(patient)"
            title="Patient detail">
          <mat-icon>folder_open</mat-icon>
        </button>

        <button mat-button
            (click)="editPatient(patient)"
            title="Edit">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-button
            (click)="deletePatient(patient)"
            title="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button mat-raised-button
    color="primary"
    (click)="addPatient()"
    title="Add new">
  Add new patient
</button>