<h2>New patient</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <a [routerLink]="['']" title="Return to patients list">Return to patients list</a>
    </li>
    </ol>
</nav>

<form class="w-50">
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">Firstname</label>
        <div class="col-sm-10">
            <input type="text" 
                id="firstName"
                class="form-control" 
                placeholder="Firstname" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-10">
            <input type="text"
                id="lastName"
                class="form-control"
                placeholder="Lastname" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="birthdate" class="col-sm-2 col-form-label">Birthdate</label>
        <mat-form-field class="col-sm-10">
            <input matInput [matDatepicker]="birthdate" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
            <mat-datepicker #birthdate></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="form-group row">
        <label for="gender" class="col-sm-2 col-form-label">Gender</label>
        <mat-radio-group class="col-sm-10">
            <mat-radio-button value="M">
                Male
            </mat-radio-button><br/>
            <mat-radio-button value="F">
                Female
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="form-group row">
        <label for="phoneNumber" class="col-sm-2 col-form-label">Phone number</label>
        <div class="col-sm-10">
            <input type="text"
                id="phoneNumber"
                class="form-control"
                placeholder="+33 (0)X XX XX XX XX" required>
        </div>
    </div>
    <div class="form-group row mb-4">
        <label for="address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text"
                id="address"
                class="form-control"
                placeholder="Address" required>
        </div>
    </div>
    
    <button mat-button
            class="btn btn-light mr-3"
            type="button">
        Cancel
    </button>
    <button mat-button
            class="btn btn-primary"
            type="submit">
        Submit form
    </button>
</form>